
#keplermap{
    /* setting height to container height plus 1 to prevent resizing after state change */
    position: absolute; width: 100%; overflow: hidden; height:801px;
}

ion-col.canvas{
    height:800px;
}

.select:hover{
    cursor:pointer;
}

.data:hover{
    cursor:pointer;
}

.chip{
    margin:auto;
}

#mapid { height: 100%; }

.select {
    width:180px;
    text-align:end;
    /* Applies to the value and placeholder color */
    color: #545ca7;
  
    /* Set a different placeholder color */
    --placeholder-color: #971e49;
  
    --placeholder-opacity: 1;
  }

  /* Set the icon color and opacity */
  .select::part(icon) {
    color: #971e49;
    opacity: 1;
  }