
#map{
    position: absolute; width: 100%; overflow: hidden; height:800px;
}

ion-col.canvas{
    height:800px;
}

.select:hover{
    cursor:pointer;
    background-color: lightgoldenrodyellow !important;
}

@media screen and (max-width: 770px){
    .mapboxgl-map {
        max-width: 100%;
        max-height: 100%;
    }
}