.leaflet-overlay-pane svg path{
    pointer-events: auto;
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 300px;				
    padding: 10px;				
    font: 12px sans-serif;		
    background: white;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
    color:#606060;		
}

rect.legend{
    position:relative;
    top:10px;
    right:10px;
}

.tooltipgraph{
    border:1px solid black;
}