/* Site header */

.header {
  height:60px;
  width:100%;
}

.header div{
  color: #606060;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
  height:100%;
  overflow:hidden;
}

#logo{
  float:left;
  width:60px;
}

#logo img{
  height:100%;
}

#name{
  float:left;
  width:80px;
  padding:5px 0;
  line-height:1.3;
  font-size:19px;
  font-family: 'Barlow', sans-serif;
}
#name a{color:#606060;}

#login{
  float:right;
  width:100px;
}
#login div{
  padding:0px 5px;
}

#login:hover{
  cursor:pointer;
  background-color:#adcaf7;
}

#cart{
  float:right;
  width:60px;
}

#search{
  padding:0 0;
}

#cart img{
  height:100%;
}

#searchicon{
  width:50px;
  float:left;
  font-size:30px;
  padding-top:5px;
}

#searchbar input{
  width:100%;
  height:100%;
}

/* Topnavi header */

.category{
  display:flex;
  justify-content: space-evenly;
}

#category div{
  display:inline;
}

.backToHome {
  margin: 3rem 0 0;
}

.footer{
  margin:25px 5px;
}

#footeritem{
  width:100%;
  justify-content: space-evenly;
}